<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='my_css.css') }}">
</head>

<body>
    <!-- this for the box that countaints our plot -->
    <div class="container-fluid"> 
        <div class="jumbotron">
            <div class="row">
            <div class="col-md-10 col-lg-8 col-sm-10">
                    <h1 class="mb-2">Google Play Store Analysis</h1>  
                    <br>
                <h2 class='lead'>Which Top 5 Categories rules in the market?</h2>
                <p>
                    {% if result != None %}
                    <img src="data:image/png;base64,{{ result }}" width="910" height="">
                    {% endif %}
                </p>
            </div>
            <div class="col-md-10 col-lg-4 col-sm-10 mt-2">
                <br>
                <br>
                <br>
                <br>
                <br>
            <div class="col-md-10 col-lg-9 col-sm-10">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">list_alt</i>
                        </div>
                        <p class="card-category">Most Category</p>
                        <h3 class="card-title">{{ stats['most_categories'] }}</h3>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-10 col-lg-9 col-sm-10">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">poll</i>
                            </div>
                            <p class="card-category">Total in Market</p>
                            <h3 class="card-title">{{ stats['total'] }}</h3>
                        </div>
                    </div>
            </div>
            <br>
            <p style="font-size:20px;">
                - From the bar plot, it can be seen that the Family category has the highest number of apps (1832 Apps), followed by the Game, Tools, and Medical categories.
            </p>
            </div>
            </div>
            <div class="row">
                    <div class="col-md-10 col-lg-6 col-sm-10">
                            <div class="plot-area">
                                <h2 class='lead'>How About Distribution of Apps?</h2>
                                <div class="mt-4">
                                <p>
                                    {% if result2 != None %}
                                    <img src="data:image/png;base64,{{ result2 }}" height="650" width=700>
                                    {% endif %}
                                </p>
                            </div>
                            </div>
                        </div>
                    <div class="col-md-10 col-lg-6 col-sm-10">
                        <h2 class="lead">Top 10 Apps based on Reviews</h2>
                        <div class="mt-4">
                            {{ stats['rev_table'] | safe }}
                        </div>
                        <p style="font-size:20px;">
                            - Based on the scatter plot of reviews and ratings, there is no significant correlation between the number of reviews and the rating obtained by an application. This also applies to the number of installs.<br>
                            - Facebook, WhatsApp Messenger, and Instagram are the top 3 applications that receive the highest number of reviews on the Play Store.<br>
                        </p>
                    </div>
                </div>
            <div class="row">
                <div class="col-md-10 col-lg-6 col-sm-10">
                    <div class="plot-area">
                        <h2 class='lead'>Size (in Megabytes)</h2>
                        <div class="mt-4">
                            <p>
                                {% if result3 != None %}
                                <img src="data:image/png;base64,{{ result3 }}" height="650" width=700>
                                {% endif %}
                            </p>
                        </div>
                        <p style="font-size:20px;">
                            - The distribution of application sizes in the Play Store tends to skew right, meaning that the Play Store is dominated by applications with relatively small sizes.
                        </p>
                    </div>
                </div>
                <div class="col-md-10 col-lg-6 col-sm-10">
                    <div class="plot-area">
                        <h2 class='lead'>Type App</h2>
                        <div class="mt-4">
                            <p>
                                {% if result4 != None %}
                                <img src="data:image/png;base64,{{ result4 }}" height="650" width=700 >
                                {% endif %}
                            </p>
                        </div>
                        <p style="font-size:20px;">
                            - 97.17% of the applications on the Play Store are available for free to users, while the remaining 2.83% are paid applications.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


</html>
